/* @override 
	http://www.customtourbus.com/sites/all/themes/prolifik/css/prolifik-alpha-default-narrow.css?mcij8s */

/* This file will hold styles that are loaded using the same media query as the narrow grid. */

.logo-img {
  float: left;
  text-align: left;
}

/* User */
#region-user-first {
  margin: 0;
  position: absolute;
  right: 20px;
  top: 0;
  width: 50%;
}

#region-user-second {
	position: absolute;
	right: 20px;
	top: 0;
	width: 70%;
	margin-top: 60px;
}

/* Search Form */
#block-search-form {
  margin: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 25px;
  width: 300px;
  z-index: 1;
}
