/* @override 
	http://www.customtourbus.com/sites/all/themes/prolifik/css/prolifik-base.css?me9qem
	http://www.customtourbus.com/sites/all/themes/prolifik/css/prolifik-base.css?mebfkn
*/

@import url(http://fonts.googleapis.com/css?family=Asset|Open+Sans);

body {background-color: black;}

#zone-prevost-wrapper {
	background: #a4010f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0MDEwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2UxMDIxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #a4010f 0%, #e10215 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4010f), color-stop(50%,#e10215));
	background: -webkit-linear-gradient(top,  #a4010f 0%,#e10215 50%);
	background: -o-linear-gradient(top,  #a4010f 0%,#e10215 50%);
	background: -ms-linear-gradient(top,  #a4010f 0%,#e10215 50%);
	background: linear-gradient(to bottom,  #a4010f 0%,#e10215 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4010f', endColorstr='#e10215',GradientType=0 );
	min-height: 120px;
}


img.prevost {
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin-top: 20px;
	padding-top: 10px;
}

#region-postfix-first {
	padding-bottom: 15px;
}
#block-block-11 {text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.dm-header {
	color: black;
	font: 1.45em "Open Sans";
}

#directmail-fd248151-subscriber_email {
	width: 70%;
	margin-right: 15px;
}


/* Links */
a, a:link {
  text-decoration: none;
}
a, a:link, a:visited, a:active {
  color: #AD3B43;
}
a:hover {
  text-decoration: underline;
}

/* Headers */
body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  border-color: #D4D4D4;
  color: red;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1em;
}

body > #page h1#page-title {
  color: red;
	text-shadow: black 1px 1px 0;
}

/* Admin Menu */
#admin-menu {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}

/* Drupal */
#messages .messages {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Page */
#page {
  position: relative;
}

/* Blocks */
.block .content {
  color: #626262;
}
.block .content li {
  margin-left: 2em;
}
.block .content .item-list li {
  margin: 0;
}



/* Sidebar */
#region-sidebar-first div.block-title,
#region-sidebar-second div.block-title {
}
#region-sidebar-first .block:first-child div.block-title {
  margin-top: 0;
}

.boxes-box-controls ul {
  margin: 0;
}

/* Content */

ul.tabs {
  *padding-top: 1px;
}

div.image-left a img, div.left img {
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

img.left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

#block-block-2 div.content div div {
	color: white;
}

/* @group Quicktabs */

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li.active {
	font-weight: bold;
}

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li {
	  background: rgb(242,237,237); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMiUiIHN0b3AtY29sb3I9IiNmMmVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNkM2NmZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(242,237,237,1) 32%, rgba(211,207,208,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,rgba(242,237,237,1)), color-stop(99%,rgba(211,207,208,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* IE10+ */
background: linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eded', endColorstr='#d3cfd0',GradientType=0 );
}


ul.quicktabs-tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 1%;
  white-space: nowrap;
	border-top: thin solid #CACCCB;
	border-right: thin solid #CACCCB;
}

ul.quicktabs-tabs li a {
	color: #253690;
}


/* @end */

/* @group User Blocks */

#block-block-8 div.content, #block-block-9 {
text-align: center;
}

div.phone {
	display: inline;
}

div.gotq {
	margin-right: 10px;font-size: x-large;
	color: #424242;
	margin-top: 10px;
	display: inline;
}

#block-block-8 div.content div.phone a {
	color: #eaeaea;
	font-size: xx-large;
	text-shadow: #212121 0 2px 3px;
}

/* @end */

#block-block-1 div {
	color: white;
}

.urlname {
	font-size: 20px;
}

#block-block-9 div.content {color: #cccccc;
	font-size: 49px;
	text-shadow: 0 -2px 3px black;
}

/* @group Webform Contact Block 

#block-webform-client-block-2 div.block-title {
background: url(../images/form-header.png) no-repeat center 0;
overflow: visible;
position: relative;
z-index: 99;
bottom: 16px;
padding-bottom: 16px;
padding-top: 5px;
}

#block-webform-client-block-2 div.block-title h2.block-title div.text {
	color: white;
	font-size: 20px;
	position: relative;
	z-index: 99;
	margin-top: 20px;
}

#block-webform-client-block-2 .form-submit {
	background-color: red;
}

#block-webform-client-block-2 {
	padding: 10px;
border-radius: 10px;
	background: no-repeat black;
	-moz-box-shadow: inset 0 1px 14px #b4b4b4;
	-webkit-box-shadow: inset 0 1px 14px #b4b4b4;
	box-shadow: inset 0 1px 14px #b4b4b4;
}
#block-webform-client-block-2 div.grippie {display: none;}
#block-webform-client-block-2 label {color: #d3d6d2;}
/* @end */


#webform-component-contact-creative-coach-solutions {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0;
}

img.node-himage {width: 100%; height: auto;margin-bottom: 10px;
	
}

/* @group Logo Parade */



#zone-logo-wrapper {
	background-color: white;
	box-shadow: 2px 3px 15px #756f6f;
	padding-top: 10px;
	padding-bottom: 10px;overflow: hidden;
}
#block-views-logo-parade-block {width: 1000%;margin-left: -100%;}

#block-views-logo-parade-block div.views-row {display: table-cell; vertical-align: middle;
	
}

#block-views-logo-parade-block img {float: left;margin-right: 40px;}

/* @end */



#block-views-testimonials-block div.block-title div.text, #block-views-latest-news-block div.block-title h2.block-title div.text {
color: red;
text-align: left;
text-shadow: #000000 0 0 0px;
font-family: "Open Sans";
	margin-bottom: 10px;
}

#block-views-testimonials-block span.field-content {
	font: 2em cursive;
}

#wistia_obvrvjagjh {border: 3px solid #a6a6a6;}


#block-views-testimonials-block p, #block-views-latest-news-block p{
	color: white;
	margin-top: 10px;
	line-height: 19px;
	font-weight: lighter;
	font-family: "Open Sans";
}
div.readmore a {background: #a4010f;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0MDEwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2UxMDIxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #a4010f 0%, #e10215 50%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4010f), color-stop(50%,#e10215));
	background: -webkit-linear-gradient(top,  #a4010f 0%,#e10215 50%);
	background: -o-linear-gradient(top,  #a4010f 0%,#e10215 50%);
	background: -ms-linear-gradient(top,  #a4010f 0%,#e10215 50%);
	background: linear-gradient(to bottom,  #a4010f 0%,#e10215 50%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4010f', endColorstr='#e10215',GradientType=0 );color: white;border-radius: 10px; padding: 7px;
	
}

/* @group Case Studies Page */

.page-case-studies #page #page-title {
text-align: center;	color: red;
font-size: 4em;
text-shadow: 1px 1px 2px #48484b;
}

#block-system-main div.case-study-title {text-align: center;}
#block-system-main div.case-study-title a {font-weight: lighter; color: #49494b;}


#block-system-main div.case-study-image img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}


#block-system-main div.case-study-image {display: table-cell; vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
	width: 900px;
}


#block-system-main div.content div.view.view-case-studies div.grid-6 {border: thin solid silver; border-radius:15px;
	padding: 10px;
}


/* @end */

.front #zone-postfix-wrapper {
	padding-bottom: 30px;
	padding-top: 20px;
}

/* @group Nivo */

#block-nivo-slider-nivo-slider {
	width: 160%;
	margin-left: 0;
}


#block-nivo-slider-nivo-slider div.content div.slider-wrapper.theme-dark {border: none;background: none;}

div.nivo-caption, #block-nivo-slider-nivo-slider div.content div.slider-wrapper.theme-dark div.nivo-controlNav, div.nivo-title, #slider div.nivo-caption ul.nivo li, div.nivo-p, div.nivo-more {display: none;}


/* @end */ 


#block-views-video-block-1 .views-field-title {
	font-family: "Open Sans";
	font-weight: bold;
	padding-bottom: 10px;
}
.view-video.view-id-video div.views-row {width: 50%; float: left;
	text-align: center;
	margin-bottom: 30px;
}

.view-video.view-id-video div.views-row .views-field-title a {
	font-size: 1.5em;
	color: #464648;
}

div.field-name-field-image a.colorbox.init-colorbox-processed.cboxElement img {
	margin: 10px; float: left;
}


div.group-content {
	clear: both;
}

